/* General */
* { box-sizing: border-box; }

:root {
  --purple-light-1: #FBFAFB;
  --purple-light-2: #EEEAF2;
  --purple-medium-1: #AA83C8;
  --purple-medium-2: #8B48BF;
  --purple-medium-3: #5C218A;
  --purple-dark-1: #3E0F64;
  --purple-dark-2: #2A0646;

  --yellow: #EECC75;
  --green: #CAD297;
  --aqua: #B7EAC5;
  --lightBlue: #A2EEE5;
  --darkBlue: #8EA2EA;
  --red: #F09D9D;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

html {
  background-color: #0b0b0b;
}

body {
  background-color: #0b0b0b;
  color: white;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
  overflow-x: hidden;
  padding-bottom: 16px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-size: 24px;
  color: white;
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 50px;
  color: white;
  font-weight: var(--font-weight-title2);
}

h3 {
  color: white;
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: rgb(41, 39, 39);
  color: white;
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: rgb(156, 151, 151);
  font-family: var(--font-family-text);
}

input + button {
  background-color: rgb(41, 39, 39);
}

button {
  background-color: crimson;
  border: none;
  color: white;
  font-weight: var(--font-weight-text2);
  font-size: 14px;
  cursor: pointer;
}


/* Shared */
.header-container, .topThreePreview-header, .trendingPreview-header, .categoriesPreview-container, .liked-header {
  padding: 0 24px;
}

.topThreePreview-container, .trendingPreview-container, .categoriesPreview-container,  .liked-container, footer {
  margin-top: 48px;
}

.topThreePreview-header, .trendingPreview-header, .categoriesPreview-title, .liked-header {
  margin-bottom: 24px;
}

.movie-container {
  position: relative;
  cursor: pointer;
}

.movie-container--loading {
  background: var(--purple-light-2);
  border-radius: 8px;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}

.movie-container--loading:nth-child(2) {
  animation-delay: .2s;
}
.movie-container--loading:nth-child(3) {
  animation-delay: .4s;
}

.movie-img {
  border-radius: 8px;
}

.movie-btn {
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  padding: 0;
  margin: 0;
}
.movie-btn::before {
  content: '🤍';
}
.movie-btn--liked {
  background-color: var(--purple-light-2);
  box-shadow: 0px 0px 10px 2px #ed143d;
}
.movie-btn--liked::before {
  /* content: '❤'; */
  font-family: 'Font Awesome 5 Free';
  content: '\f004';                    
  font-weight: 900;                    
  margin-right: 5px; 
  color: crimson;
  margin: auto;
}

.categoriesPreview-list, .categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}


/* Header */
#header {
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 750px;
}

.movieDetails-page {
  display: flex;
}


.header-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.header--title-search {
  float: right;
  display: flex;
  justify-content: end;
}

.header--title-search .header-title {
  margin-right: 25px;
  align-self: center;
}

.header-container--long {
  background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;

}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
} 

.header-title {
  margin-bottom: 16px;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}
.header-arrow--white {
  color: var(--purple-light-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  border-radius: 8px;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  border-radius: 8px;
}
.header-searchForm button {
  width: 56px;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 10px;
  position: absolute;
  right: 0;
}

.header-menu {
  color: white;
  list-style: none;
  display: flex;
  gap: 20px;
  z-index: 9999;
}

.header-menu h3 {
  font-size: 20px;
}

.submenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(132, 118, 118);
  display: none;
  position: absolute;
  background-color: #2f2c2d ;
  font-weight: bold;
}


.header-menu .genres:hover .submenu {
  display: grid;
}

.header-menu h3 {
  color: white;
  line-height: 5rem;
}

/* Top Three */
.topThreePreview-header,
.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topThreePreview-container {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 15px;
  width: 1000px;
}

.topThreePreview-btn {
  border-radius: 8px;
  height: 40px;
  width: 90px;
}

.topThreePreview-list {
  overflow-y: hidden;
  white-space: nowrap;
  height: 241px;
  padding-left: 5px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.topThreePreview-list, .movie-container, .liked-movieList .movie-container{
  display: flex;
  justify-content: center;
  height: auto;
  gap: 25px;
  background-color: #2f2c2d;
  border-radius: 20px;
}

.topThreePreview-list .movie-container .movie-img,
.liked-movieList .movie-container .movie-img {
  min-height: 350px;
  width: 300px;
}


/* Trending */
.trendingPreview-header,
.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 40px;
  width: 90px;
  margin-right: 175px;
}

.trendingPreview-movieList, .liked-movieList {
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 2fr));
  gap: 12px;
  width: 1000px;
  padding: 20px;
  background-color: #2f2c2d;
  margin: auto;
  border-radius: 15px;
}

.trendingPreview-title {
  margin-left: 150px;
  text-align: start;
}

.trendingPreview-movieList .movie-container, .liked-movieList .movie-container{
  display: inline-block;
  margin-right: 8px;
  position: relative;
}

.trendingPreview-movieList .movie-container .movie-img,
.liked-movieList .movie-container .movie-img {
  min-height: 225px;
  width: 100%;
  min-width: 150px;
}


/* Categories */
.category-container {
  width: 45%;
}

.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: '••••';
  color: transparent;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);
  border-radius: 8px;
  margin-right: 8px;
  width: 8px;
  height: 8px;
}



/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
  margin: auto;
  max-width: 900px;
  min-width: 500px;
  gap: 32px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
}

.genericList-container .movie-img {
  width: 100%;
}


/* Movie Detail */
.movieDetail-container {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 50px 24px;
  z-index: 1;
  background-color: #141111;
  color: white;
  width: 900px;
}

.movieDetail-container li {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 20px;
  list-style: none;
}

.movieDetail-container li h3 {
  font-size: 20px;
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
  margin-top: 100px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: calc(100vw - 24px);
  padding-bottom: 16px;
  width: 800px;
}

.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}
  

/* Footer */
footer {
  color: var(--purple-light-2);
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navigation */
.inactive {
  display: none;
}

/* Animations */
@keyframes loading-skeleton {
  0%, 100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}